"use client";

import * as React from "react";
import {
  Dialog as DialogPrimitive,
  DialogClose as DialogClosePrimitive,
  DialogContent as DialogContentPrimitive,
  DialogDescription as DialogDescriptionPrimitive,
  DialogFooter as DialogFooterPrimitive,
  DialogHeader as DialogHeaderPrimitive,
  DialogOverlay as DialogOverlayPrimitive,
  DialogPortal as DialogPortalPrimitive,
  DialogTitle as DialogTitlePrimitive,
  DialogTrigger as DialogTriggerPrimitive,
  cn,
  type DialogCloseProps as CoreDialogCloseProps,
  type DialogContentProps as CoreDialogContentProps,
  type DialogDescriptionProps as CoreDialogDescriptionProps,
  type DialogFooterProps as CoreDialogFooterProps,
  type DialogHeaderProps as CoreDialogHeaderProps,
  type DialogOverlayProps as CoreDialogOverlayProps,
  type DialogPortalProps as CoreDialogPortalProps,
  type DialogProps as CoreDialogProps,
  type DialogTitleProps as CoreDialogTitleProps,
  type DialogTriggerProps as CoreDialogTriggerProps,
} from "@prism-system/ui-core";

const ui = "{{SYSTEM_CLASS}}-ui";

export type DialogProps = CoreDialogProps;

function DialogRoot(props: DialogProps) {
  return <DialogPrimitive {...props} />;
}

export const DialogTrigger = React.forwardRef<HTMLButtonElement, CoreDialogTriggerProps>(
  function DialogTrigger({ className, ...props }, ref) {
    return (
      <DialogTriggerPrimitive
        ref={ref}
        className={cn(
          ui,
          "{{SYSTEM_CLASS}}-button",
          "{{SYSTEM_CLASS}}-button-primary",
          "{{SYSTEM_CLASS}}-button-md",
          className,
        )}
        {...props}
      />
    );
  },
);

export const DialogClose = React.forwardRef<HTMLButtonElement, CoreDialogCloseProps>(
  function DialogClose({ className, ...props }, ref) {
    return (
      <DialogClosePrimitive
        ref={ref}
        className={cn(
          ui,
          "{{SYSTEM_CLASS}}-button",
          "{{SYSTEM_CLASS}}-button-ghost",
          "{{SYSTEM_CLASS}}-button-md",
          className,
        )}
        {...props}
      />
    );
  },
);

export const DialogPortal = ({ forceMount, ...props }: CoreDialogPortalProps) => (
  <DialogPortalPrimitive {...props} {...(forceMount ? { forceMount: true } : {})} />
);

export const DialogOverlay = React.forwardRef<HTMLDivElement, CoreDialogOverlayProps>(
  function DialogOverlay({ className, ...props }, ref) {
    return (
      <DialogOverlayPrimitive
        ref={ref}
        className={cn(ui, "{{SYSTEM_CLASS}}-dialog-overlay", className)}
        {...props}
      />
    );
  },
);

export const DialogContent = React.forwardRef<HTMLDivElement, CoreDialogContentProps>(
  function DialogContent({ className, children, forceMount, ...props }, ref) {
    return (
      <DialogPortalPrimitive>
        <DialogOverlayPrimitive className="{{SYSTEM_CLASS}}-ui {{SYSTEM_CLASS}}-dialog-overlay" />
        <DialogContentPrimitive
          ref={ref}
          className={cn(ui, "{{SYSTEM_CLASS}}-dialog-content", className)}
          {...props}
          {...(forceMount ? { forceMount: true } : {})}
        >
          {children}
        </DialogContentPrimitive>
      </DialogPortalPrimitive>
    );
  },
);

export const DialogHeader = React.forwardRef<HTMLDivElement, CoreDialogHeaderProps>(
  function DialogHeader({ className, ...props }, ref) {
    return (
      <DialogHeaderPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-dialog-header", className)}
        {...props}
      />
    );
  },
);

export const DialogFooter = React.forwardRef<HTMLDivElement, CoreDialogFooterProps>(
  function DialogFooter({ className, ...props }, ref) {
    return (
      <DialogFooterPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-dialog-footer", className)}
        {...props}
      />
    );
  },
);

export const DialogTitle = React.forwardRef<HTMLHeadingElement, CoreDialogTitleProps>(
  function DialogTitle({ className, ...props }, ref) {
    return (
      <DialogTitlePrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-dialog-title", className)}
        {...props}
      />
    );
  },
);

export const DialogDescription = React.forwardRef<HTMLParagraphElement, CoreDialogDescriptionProps>(
  function DialogDescription({ className, ...props }, ref) {
    return (
      <DialogDescriptionPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-dialog-description", className)}
        {...props}
      />
    );
  },
);

export const Dialog = Object.assign(DialogRoot, {
  Trigger: DialogTrigger,
  Portal: DialogPortal,
  Overlay: DialogOverlay,
  Content: DialogContent,
  Header: DialogHeader,
  Footer: DialogFooter,
  Title: DialogTitle,
  Description: DialogDescription,
  Close: DialogClose,
});
