"use client";

import * as React from "react";
import {
  RadioGroup as RadioGroupPrimitive,
  RadioGroupIndicator as RadioGroupIndicatorPrimitive,
  RadioGroupItem as RadioGroupItemPrimitive,
  cn,
  type RadioGroupIndicatorProps as CoreRadioGroupIndicatorProps,
  type RadioGroupItemProps as CoreRadioGroupItemProps,
  type RadioGroupProps as CoreRadioGroupProps,
} from "@prism-system/ui-core";

const ui = "{{SYSTEM_CLASS}}-ui";

export type RadioGroupProps = CoreRadioGroupProps;
export type RadioGroupItemProps = CoreRadioGroupItemProps;
export type RadioGroupIndicatorProps = CoreRadioGroupIndicatorProps;

function RadioGroupRoot({ className, ...props }: RadioGroupProps) {
  return (
    <RadioGroupPrimitive className={cn(ui, "{{SYSTEM_CLASS}}-radio-group", className)} {...props} />
  );
}

export const RadioGroupItem = React.forwardRef<HTMLButtonElement, RadioGroupItemProps>(
  function RadioGroupItem({ className, children, ...props }, ref) {
    return (
      <RadioGroupItemPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-radio-item", className)}
        {...props}
      >
        <RadioGroupIndicator />
        {children}
      </RadioGroupItemPrimitive>
    );
  },
);

export const RadioGroupIndicator = React.forwardRef<HTMLSpanElement, RadioGroupIndicatorProps>(
  function RadioGroupIndicator({ className, forceMount, ...props }, ref) {
    return (
      <RadioGroupIndicatorPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-radio-indicator", className)}
        {...props}
        {...(forceMount ? { forceMount: true } : {})}
      />
    );
  },
);

export const RadioGroup = Object.assign(RadioGroupRoot, {
  Item: RadioGroupItem,
  Indicator: RadioGroupIndicator,
});
