import * as React from "react";
import type { ContainerProps } from "@prism-system/ui-core";
export type { ContainerProps };
export const Container = React.forwardRef<HTMLElement, ContainerProps>(function Container({ as: Tag = "div", className, ...props }, ref) {
  return <Tag ref={ref as never} className={["{{SYSTEM_CLASS}}-ui", "{{SYSTEM_CLASS}}-container", className].filter(Boolean).join(" ")} {...props} />;
});
