import * as React from "react";
import { cn, type CenterProps } from "@prism-system/ui-core";

export type { CenterProps };

export const Center = React.forwardRef<HTMLDivElement, CenterProps>(function Center(
  { className, ...props },
  ref,
) {
  return (
    <div
      ref={ref}
      className={cn("{{SYSTEM_CLASS}}-ui", "{{SYSTEM_CLASS}}-center", className)}
      {...props}
    />
  );
});
Center.displayName = "Center";
