"use client";

import * as React from "react";
import {
  Card as CardPrimitive,
  CardContent as CardContentPrimitive,
  CardDescription as CardDescriptionPrimitive,
  CardFooter as CardFooterPrimitive,
  CardHeader as CardHeaderPrimitive,
  CardTitle as CardTitlePrimitive,
  cn,
  type CardContentProps as CoreCardContentProps,
  type CardDescriptionProps as CoreCardDescriptionProps,
  type CardFooterProps as CoreCardFooterProps,
  type CardHeaderProps as CoreCardHeaderProps,
  type CardProps as CoreCardProps,
  type CardTitleProps as CoreCardTitleProps,
} from "@prism-system/ui-core";

const ui = "{{SYSTEM_CLASS}}-ui";

export type CardProps = CoreCardProps;

const CardRoot = React.forwardRef<HTMLDivElement, CardProps>(function Card(
  { className, variant = "default", padding = "md", asChild = false, ...props },
  ref,
) {
  return (
    <CardPrimitive
      ref={ref}
      variant={variant}
      padding={padding}
      asChild={asChild}
      className={cn(
        ui,
        "{{SYSTEM_CLASS}}-card",
        `{{SYSTEM_CLASS}}-card-${variant}`,
        `{{SYSTEM_CLASS}}-card-padding-${padding}`,
        className,
      )}
      {...props}
    />
  );
});
CardRoot.displayName = "Card";

export const CardHeader = React.forwardRef<HTMLDivElement, CoreCardHeaderProps>(function CardHeader(
  { className, ...props },
  ref,
) {
  return (
    <CardHeaderPrimitive
      ref={ref}
      className={cn("{{SYSTEM_CLASS}}-card-header", className)}
      {...props}
    />
  );
});

export const CardTitle = React.forwardRef<HTMLHeadingElement, CoreCardTitleProps>(
  function CardTitle({ className, ...props }, ref) {
    return (
      <CardTitlePrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-card-title", className)}
        {...props}
      />
    );
  },
);

export const CardDescription = React.forwardRef<HTMLParagraphElement, CoreCardDescriptionProps>(
  function CardDescription({ className, ...props }, ref) {
    return (
      <CardDescriptionPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-card-description", className)}
        {...props}
      />
    );
  },
);

export const CardContent = React.forwardRef<HTMLDivElement, CoreCardContentProps>(
  function CardContent({ className, ...props }, ref) {
    return (
      <CardContentPrimitive
        ref={ref}
        className={cn("{{SYSTEM_CLASS}}-card-content", className)}
        {...props}
      />
    );
  },
);

export const CardFooter = React.forwardRef<HTMLDivElement, CoreCardFooterProps>(function CardFooter(
  { className, ...props },
  ref,
) {
  return (
    <CardFooterPrimitive
      ref={ref}
      className={cn("{{SYSTEM_CLASS}}-card-footer", className)}
      {...props}
    />
  );
});

export const Card = Object.assign(CardRoot, {
  Header: CardHeader,
  Title: CardTitle,
  Description: CardDescription,
  Content: CardContent,
  Footer: CardFooter,
});
